doctype html
html
  head
    title Logged In
    script.
      // The parent frame posts when its `onmessage` handler has been bound.
      // React to its "I'm ready" post.
      onmessage = function (e) {
          window.parent.postMessage({status : 'logged in'}, "*");
      };

      // If the parent's "I'm ready" post fell on deaf ears, then this post
      // saves the day.  If parent's "I'm ready" post was received, then this
      // post will fall on deaf ears (certainly if the iframe shares an
      // execution thread with the main frame, probably if the iframe gets its
      // own thread of execution--tolerate two posts in case the latter case
      // exists).
      window.parent.postMessage({status : 'logged in'}, "*");

  body
    h1=name
    a(href="#" onclick!=logout) Logout
